/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
    font-family: 'Baloo Tammudu 2', cursive;
    background-repeat: no-repeat;
    background-position: center;

}