table, th, td {
    border: 1px solid rgb(235, 209, 209);
    border-collapse: collapse;
  }
  table{
    left: 500px;
  }
  th, td {
    padding: 8px;
    height: 30px;
    width: 600px;
    text-align: center;
  }
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){background-color: #f2f2f2}

th {
  background-color: rgb(236, 6, 18);
  color: white;
}

.center {
 
  border-collapse: collapse;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.div2 {
  margin: 2px;
  border: 1px solid rgb(243, 5, 5);
  text-decoration-color: ivory;
    margin-right: 550px;
  margin-left: 580px;
  
  
    background-color: white;
  
}

h3 {
  
  background-color: white;

}

h2 {
  
    background-color: white;
  
}
.div1 {
  
  margin-top: 10px;
  margin-bottom: 100px;
  margin-right: 350px;
  margin-left: 380px;
  border: 1px solid #4CAF50;
}

.center2 {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  
}

tr:hover {background-color: #776d6d;}