<app-header></app-header>

<div class="container">
  <div class="card img-fluid" style="width:445px" >
    <div class="card1">
    <img class="card-img-top" src="https://i.ytimg.com/vi/slZUnOjwrW4/maxresdefault.jpg" alt="Card image" style="width:200%" style="height:250px">
    <div class="card-img-overlay">
      <h4 class="card-title">COVID-19 TRACKER</h4>
      <p class="card-text">Get to know about the current status of affected countries by the corona virus pandemic.</p>
      <a  class="btn btn-primary" role="button" (click)="gototracker()" >Let's Track</a>
    </div>
    </div>
  </div>
</div>
<br>
<div class="container">
   <div class="card img-fluid" style="width:440px">
    <div class="card2">
    <img class="card-img-top" src="https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png" alt="Card image" style="width:200%" style="height:250px">
    <div class="card-img-overlay">
      <h4 class="card-title">Weather Forecast</h4>
      <p class="card-text">Get to know about the current weather conditions around the globe.</p>
      <a href="#" class="btn btn-primary" role="button" (click)="gotoweather()" >Check Weather</a>
    </div>
    </div>
  </div>
</div>