<app-header></app-header>
<div style="text-align:center">
  <h1>
    Welcome to Corona Tracker !
  </h1>
  <img width="300" alt="Corona Logo" src="https://image.shutterstock.com/image-vector/coronavirus-disease-covid19-infection-medical-260nw-1660430236.jpg">
</div>
<h2 style="text-align:center">Select Country </h2>

<select style="text-align:center" formControlName="orders" id="orders">
  <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
    {{orders[i].name}}
  </option>
</select>

<br><br>
<button style="text-align:center">submit</button>
</form>




